<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoMotiveX"
        tools:targetApi="31">
        <activity
            android:name=".LoginHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".FailedOrderActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessOrderActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessSignupActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".SingleProductActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>